<!doctype html>
<html lang="en" ng-app="skipspicks" ng-controller="MainController">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>Skip's Picks</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/leaflet.min.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/ng-tags-input.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div ng-controller="MapController">
  <div id="map"></div>
</div>


<div id="searchbox" ng-controller="SearchController">
  <tags-input ng-model="tags" placeholder="Filter locations" on-tag-added="search()">
    <auto-complete source="loadTags($query)"></auto-complete>
  </tags-input>
</div>


<div id="settingsButton" class="floatButton" ng-click="showSettings()">
  SETTINGS
</div>


<div id="context" class="portrait">
  <div ng-include="templateUrl"></div>
</div>


<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/code.js"></script>

</body>
</html>
