<div ng-controller="EstablishLocationController">
  <div class="row">
    <div class="col-xs-11 col-md-11">
      <h4 class="title">Find Location to Review</h4>
    </div>
    <div class="col-xs-1 col-md-1 floatButton pointer text-center" ng-click="hideContextMenu()">
      X
    </div>
  </div>

  <form ng-submit="blur()">
    <div class="row">
      <div class="col-xs-9 col-md-9">
        <input
                id="establishName"
                ng-model="Establish.name"
                name="name"
                placeholder="By Name"
                class="form-control"
                >
      </div>
      <div class="col-xs-3 col-md-3">
        <button type="submit" class="btn btn-default" ng-click="lookupByName()">Lookup</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <label>OR</label>
    </div>
  </div>

  <form ng-submit="blur()">
    <div class="row">
      <div class="col-xs-9 col-md-9">
        <input
                id="establishAddress"
                ng-model="Establish.address"
                name="address"
                placeholder="By Street Address (eg. 1234 SE Main)"
                class="form-control"
                >
      </div>
      <div class="col-xs-3 col-md-3">
        <button type="submit" class="btn btn-default" ng-click="lookupByAddress()">Lookup</button>
      </div>
    </div>
  </form>


  <div class="row" ng-repeat="match in matches">
    <div class="col-xs-12 col-md-12">
      <a href="" ng-click="chooseLocation(match)">{{ match.name || match.formatted_address }}</a>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-12">
      <button type="submit" class="btn btn-default" ng-click="clear()">Clear</button>
    </div>
  </div>
</div>