<div class="row">
  <div class="col-xs-12 col-md-12">
    <h1 class="title">{{ Location.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-md-3">
    <h2 class="title">{{ Location.ratingAverage }}/5</h2>
  </div>
  <div class="col-xs-3 col-md-3">
    {{ Location.reviews.length }} Review(s)
  </div>
  <div class="col-xs-3 col-md-3">
    {{ Location.price }}
  </div>
  <a href="" ng-click="addReview(Location)">Add Review</a>
</div>

<!--

<h4>Type</h4>
<ul>
  <li ng-repeat="type in Location.type">{{ type }}</li>
</ul>

<h4>Cuisine</h4>
<ul>
  <li ng-repeat="cuisine in Location.cuisine">{{ cuisine }}</li>
</ul>


{{ Location.address }}<br>
{{ Location.city }}, {{ Location.state }} {{ Location.postalCode }}

{{ Location.ratings }}<br>
{{ Location.details }}<br>
{{ Location.reviews }}<br>

Location.price: String,
Location.name: String,
Location.address: String,
Location.city: String,
Location.state: String,
Location.postalCode: String,
Location.hours: String,
Location.phone: Number,
Location.pick: Boolean,
Location.lat: Number, // replace with native type?
Location.lng: Number,
Location.userId: Number,
Location.url: String,
Location.updated: { type: Date, default: Date.now },
Location.created: Date
 -->