<h3 class="title">SETTINGS</h3>

<ul>
  <li>
    <a href="" ng-click="showEstablishLocation()">Add Location</a>
  </li>
</ul>

<h3>FILTERS</h3>

<h4>Cuisine</h4>
<span ng-hide="used(cuisine)" ng-repeat="cuisine in Config.cuisines">
  <a href="" ng-click="addTag(cuisine)">{{ cuisine }}</a>{{ {true: '', false: ', '}[$last] }}
</span>
<h4>Detail</h4>
<span ng-hide="used(detail)" ng-repeat="detail in Config.details">
  <a href="" ng-click="addTag(detail)">{{ detail }}</a>{{ {true: '', false: ', '}[$last] }}
</span>

