body {
  padding: 0;
  margin: 0;
}

body, html, div#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin-top: 0px;
}

.pointer {
  cursor: pointer;
}

div#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

#searchbox {
  position: relative;
  top: 10px;
  z-index: 15;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.floatButton {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid #808080;
  z-index: 15;
  background: #ffffff;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#settings {
  padding: 10px;
}

#settingsButton {
  position: absolute;
  top: -60px;
  right: -2px;
  width: 40px;
  height: 40px;
  background: url("../img/hamburger.png") no-repeat center;
  background-size: 40px 40px;
}

#context .handle {
  height: 19px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #808080;
  color: #808080;
  width: 30px;
  margin: 0 auto;
  background: #ffffff;
  z-index: 43;
}

#context.portrait {
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 40%;
  z-index: 10;
  background-color: #ffffff;

  padding: 10px;

  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: visible;
}

#context.portrait.full {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #ffffff;

  padding: 10px;

  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: scroll;
}

#context.portrait.show {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*
#context.landscape {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 10;
  background-color: #ffffff;

  padding: 10px;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  overflow: scroll;
}

#context.landscape.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
*/