body {
  padding: 0;
  margin: 0;
}

body, html, div#map {
  height: 100%;
  width: 100%;
}

div#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
}

#searchbox {
  position: relative;
  top: 10px;
  z-index: 15;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#context.landscape {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 10;
  background-color: #ffffff;

  padding: 10px;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  overflow: scroll;
}

#context.portrait {
  position: absolute;
  top: -40%;
  width: 100%;
  height: 40%;
  z-index: 10;
  background-color: #ffffff;

  padding: 10px;

  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: scroll;
}

#context.landscape.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#context.portrait.show {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
